@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url(images/mont.jpg);
}
.one{
    height: 350px;
    width: auto;
    margin: 50px;
    padding: 20px;
} 
.name{
    text-align: center;
    padding: 20px;
    margin: auto;
} 
.bty{
    background-color: blue;
    padding: 5px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
.people-one{
    width: 300px;
    height: 350px;
    margin: auto;
    padding: 30px;
    border-radius: 40px;

}
.my-col{
    border: solid 2px black;
    height: 100px;
    border-radius: 40px;
    margin: 20px;
    padding: 10px;
    width: 140px;
}
.by{
    margin-top: 30px;   
}
.gt{
    margin: 20px;
    margin-top: 220px;
    align-content: center;
}
.myst{
    padding: 8px;
    border-radius: 20px;
    margin: auto;
}
.myt{
    border-radius: 40px;
    width: auto;
    text-align: center;
    padding: 3px;
    background-color: darkblue;
    font-size: 1em;
    margin: 15px;
}
.my-cl{
    height: 250px;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    width: 300px;
    align-content: center;
}
.one,.two,.mine{
    background-image: url(images/plain.jpg);
}
.one,.two,.last-container,.ed,.about,.side-left,.side-righ,.main-container,.by,.moment{
    display: flex;
}
.note{
    text-underline-position: below brown;
    text-decoration-color: violet;
    padding: 50px;
}
.small{
    width: auto;
    height: auto;
    padding: 20px;
    border: 4px solid white;
    background-color: white;
    box-shadow: whitesmoke;
    margin: 50px;
}
.pict{
    border-radius: 40px;
    height: 30px;
}
.ed{
    background-color: hsl(238, 22%, 44%);
    color: white;
    padding: 20px;
}
.glass{
    width: auto;
}
.my-input{
    width: auto;
    margin: auto;
}
.mail{
    margin: auto;
}
.bt{
    margin-top: 10px;
    background-color: hsl(224, 93%, 58%);
    padding: 10px;
}
.dx{
    margin: auto;
    padding: 50px;
    align-content: center;
}
.last-container{
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 50px;
}
.phone,.abt,.facebk,.cont{
    margin: auto;
    padding: 30px;


}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.box{
    border: 2px solid blue;
}
.copy{
    text-align: center;
}
